body {
    background-color: black;
    text-align: center;
    padding: 50px;
}

p{
    color: gray;
    font-family: Verdana;
    font-size: 1rem;
 
}

h1 {
    font-family: "Alegreya Sans", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: white;
    margin: 50px 30px 30px 30px;
    
}

h2 {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    margin-top: 32px;
   
    color: white;
}

.link {
    color: aqua;
    font-size: 1rem;
   
}
.cabana{
    margin: 24px auto;
    height: 65%;
    width: 70%;
    border-radius: 30px;
}
.phone {
    margin: 24px auto;
    width: 5%;
}
 video {
    width: 29%;
 }


footer {
    margin:24px;
    text-align: right;
    font-family: verdana;
    color: gray;
}

@media screen and (max-width: 768px){
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
    .link{
        font-size: 0.8rem;
    }
    video {
        width: 50%;
    }
    .cabana{
        height: 50%;
        width: 100%;
    }
    .phone{
        width: 10%;
    }
    footer {
        font-size: 14px;
    }
 }

 @media only screen and (max-width: 378px){
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    p {
        font-size: 0.75rem;
    }
    .cabana{
        height: 50%;
        width: 100%;
    }
    .phone{
        width: 10%;
    }
    video {
        width: 60%;
    }
    footer {
        font-size: 12px;
    }
 }